.container{

    height: 1.5cm;
    background-color: rgb(207, 207, 207);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.6cm;
    float: auto;
}
.description{
    height: 10cm;
    background-color: rgb(207, 207, 207);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5cm;
    float: auto;
    
}

.description a{
    color: #429ef5;
    text-align: center;
    font-size: 0.5cm;
    float: auto;
    transition: all 1s;
}

.description a:hover{
    background-color: rgb(51, 134, 34);
    color: #ffffff;
    transition: all 0.5s
}
.header{
    background-color: rgba(50, 102, 216, 0.774);
    color: black;
    float: left;
    transition: all 1s;
    border-radius: 70px;
    padding: auto;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header a{
    
    color: #000;
    
}

.header a:hover{
    background-color: rgb(51, 134, 34);
    color: #ffffff;
    transition: all 0.5s
}

.letoltesgomb{
    background-color: rgb(26, 84, 209);
    color: black;
    float: center;
    transition: all 1s;
    border-radius: 70px;
    padding: 0.1cm;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.letoltesgomb a{
    background-color: rgb(26, 84, 209);
    color: black;
    transition: all 1s;
}

.letoltesgomb a:hover{
    color: white;
    transition: all 0.5s;
}

.leiras{
    background-color: rgb(204, 203, 203);
    height: 6cm;
    text-align: center;
    font-size: 0.5cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.frissites-frissitesekleiras{
    height: 1.5cm;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5cm;
    float: auto;
    padding: 0.1cm;
    margin-top: -8cm;
}

.frissitesdatum{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5cm;
    float: auto;

}

.frissitesdatum{
    height: 1.5cm;
     margin-top: -4cm;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.6cm;
    float: auto;
}

.frissitesdatum a{
    color: #429ef5;
    text-align: center;
    font-size: 0.5cm;
    float: auto;
    transition: all 1s;
}

.frissitesdatum a:hover{
    background-color: rgb(51, 134, 34);
    color: #ffffff;
    transition: all 0.5s
}

.nincskiadva{
    border-radius: 15px;
    padding: auto;
    float: center;
    background-color: #000000;
    margin: 0.2cm;
    color: rgb(170, 0, 0);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 0.5cm;
}