body{
    background-image: url("../Képek/background/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    margin-top: 0.5cm;
    border-radius: 25px;
    height: 1.5cm;
    background-color: rgba(0, 0, 0, 0.137);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.6cm;
    float: auto;
    color: white;
    
}

.gombok{
    margin-top: 0.5cm;
    height: 1.5cm;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.4cm;
    float: auto;
    color: white;
    padding: auto;
}
.description{
    color: white;
    border-radius: 25px;
    height: 12cm;
    background-color: rgba(0, 0, 0, 0.137);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5cm;
    float: auto;
    margin-top: 0.3cm;

}
@media screen and (max-width: 500px){

body{
    font-size: 0.5cm;
    padding: 0.6cm;
}
.gombok{
    margin-top: 0.5cm;
    height: 1.5cm;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.9mm;
    float: auto;
    color: white;
    padding: auto;
}

}

a{
    position: relative;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
a:hover{
  color: white;
  transform: scale(1, 1);
  transition: transform 0.3s ease;
}

a:hover:after{
    width: 100%;
    transform: scale(1, 1);
    transition: transform 0.3s ease;
}

.header{
    background-color: rgba(255, 255, 255, 0.774);
    color: black;
    float: left;
    transition: all 1s;
    border-radius: 70px;
    padding: auto;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header a{
    
    color: #000;
    
}

.header a:hover{
    
    color: #ffffff;
    transition: all 0.5s
}

.letoltesgomb{
    margin-top: 0.5cm;
    border-radius: 25px;
    color: white;
    float: center;
    transition: all 1s;
    border-radius: 70px;
    padding: 0.1cm;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.letoltesgomb a{
    color: rgb(255, 255, 255);
    transition: all 1s;
}

.letoltesgomb a:hover{
    color: white;
    transition: all 0.5s;
}

img{
    border-radius: 25px;
}

.leiras{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.137);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    color: white;
    height: 6cm;
    text-align: center;
    font-size: 0.5cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.frissites-frissitesekleiras{
    color: white;
    height: 1.5cm;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.4cm;
    float: auto;
    padding: 0.1cm;
    margin-top: -10.5cm;

}

.frissitesdatum{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5cm;
    float: auto;

}

.frissitesdatum{
    height: 1.5cm;
     margin-top: -4cm;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.6cm;
    float: auto;
}

.frissitesdatum a{
    color: #ffffff;
    text-align: center;
    font-size: 0.5cm;
    float: auto;
    transition: all 1s;
}

.frissitesdatum a:hover{
    color: white;
    transition: all 0.5s
}

.nincskiadva{
    border-radius: 15px;
    padding: auto;
    float: center;
    background-color: #000000;
    margin: 0.2cm;
    color: rgb(170, 0, 0);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 0.5cm;
}

.frissites-frissitesekleirasmini{
    color: white;
    height: 1.5cm;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.2mm;
    float: auto;
    padding: 0.1cm;
    margin-top: -10.5cm;

}